#title {
    font-size: 10vmin;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

.stripe {
    height: 70vh;
    background: #ffcd00;
    overflow-y: hidden;
    margin-top: 2vh;
    border-top: thick solid #000000;
    border-bottom: thick solid #000000;
    border-top-width: thick;
    border-bottom-width: thick;
}

.stripe2 {
    height: 70vh;
    background: #FFFFFF;
    overflow-y: hidden;
    margin-top: 15vh;
}

#scanLogo {
    width: 45vw;
    height: 50vh;
    z-index: 1;
}

#swipe {
    font-size: 8vh;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: Verdana;
    margin: 0;
    padding-top: 1.5vh;
}

#techLogo {
    height: 10vh;
}

#hideLogo {
    height: 13vh;
}

.leftBottom {
    position: absolute;
    left: 2vw;
    bottom: 2vh;
}

.rightBottom {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}

.leftTop {
    position: absolute;
    left: 1vw;
    top: 1vh;
}

.rightTop {
    position: absolute;
    right: 1vw;
    top: 2vh;
}

#answerbtn {
    background: #2e6da4;
    font-size: 1.5vw;
    padding: 2vh 2vw;
    border: none;
    text-align: center;
    border-radius: 0.5vw;
    color: white;
}

.btnright {
    position: absolute;
    right: 1.5vw;
    bottom: 3vh;
}

.topBar {
    height: 0vh;
    margin: 0;
    padding: 0;
    background: #ffcd00;
    overflow: hidden;
}

.bottomBar {
    height: 0vh;
    margin-top: 5vh;
    padding: 0;
    background: #ffcd00;
    vertical-align: bottom;
    overflow: hidden;
}

.ans1 {
    left: 2vw;
    top: 17vh;
    position: absolute;
}

.ans2 {
    right: 2vw;
    top: 17vh;
    position: absolute;
}

.ans3 {
    left: 2vw;
    bottom: 17vh;
    position: absolute;
}

.ans4 {
    right: 2vw;
    bottom: 17vh;
    position: absolute;
}

#button2{
    background-color: #cccccc;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 32vh;
    width: 47vw;
    line-height: 35vh;
    display: inline-block;
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    border-radius: 1.5vw;
}