{% extends "base.html" %}
{% block head %}
        {{super()}}
        <link rel="stylesheet" type="text/css" href="../static/assets/css/alterQuestionStyles.css">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
{% endblock %}
{% block content %}
        <title>Alter Question</title>
        <h1 style="text-align: center">Questions:</h1>
        {% if questions %}
            <table style="width:50% " id="t01">
                <tr>
                    <th>Question Number</th>
                    <th>Question Title</th>
                    <th>Answer #1</th>
                    <th>Answer #2</th>
                    <th>Answer #3</th>
                    <th>Answer #4</th>
                    <th>Edit Content</th>
                </tr>
                {% for question in questions %}
                <tr>
                    <td>{{question.id}}</td>
                    <td>{{question.questionText}}</td>
                    {% for choice in question.choices %}
                    <td>{{choice}}</td>
                    {% endfor %}
                    <td><button id="btn1" class="Edit">Edit</button></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            No Questions Available
        {% endif %}

        <div id="myModal" class="modal ">
            <div class="modal-content">
                <span class="close" id="close">&times;</span>
                <p style="text-align: center">Edit Question Content</p>
                <form style="text-align: center">
                    New Question Title:
                    <input type="text" name="newTitle">
                    <br><br>
                    New 1st Choice:
                    <input type="text" name="newFirst">
                    <br><br>
                    New 2nd Choice:
                    <input type="text" name="newSecond">
                    <br><br>
                    New 3rd Choice:
                    <input type="text" name="newThird">
                    <br><br>
                    New 4th Choice:
                    <input type="text" name="newFourth">
                    <br><br>
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
{% endblock %}
{% block scripts %}
        <script>
            // $ in front = something with jQueary
            $(document).ready(init); // .ready() means that when the document is ready, call my init() function
            var modal = document.getElementById('myModal');
            var btn = document.getElementById("one");
            var span = document.getElementById("close")[0];

            function init() {
                $(".Edit").click(launchModal); // . means "class", like the class we gave our edit buttons
                $(".close").click(closeModal);
                closeModal
            }

            function launchModal() {
                $("#myModal").css("display", "block"); // display is the style item, block is the value we are giving it
                //modal.style.display = "block";
            }

            function closeModal() {
                $("#myModal").css("display", "none");
            }

            window.onclick = function(event) {
                if(event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
{% endblock %}
