body 
{
	background-color: #8c8c8c;
	align-content: center;
}

a:link {
	color: #000000
}

a:visited {
	color: #000000
}

p
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

div.rectangle {
		display: inline-block;
        background-color: #ffffff;
        margin:2.5vh;
        border-radius: 2.5vh;
        height: 275px;
        width: 300px;
}

img.squareImage {
	margin:2.5vh;
	height: 175px;
	width: 175px;
}

img.largeSquareImage {
	margin:2.5vh;
	height: 30vh;
	width: 20vw;
}

img.questionIcon {
	float: right;
	height: 50px;
	width: 50px;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Roboto', sans-serif;
}

h4 {
	font-family: 'Roboto', sans-serif;
}

button.button {
	background-color: #0066ff;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
}

#questionList {
            background: #ffffff;
            color: blue;
            padding: 15px;
            width: 30%;
            height: 170px;
            overflow: scroll;
            border: 1px solid #ccc;
            border-radius: 8px;
}

.menuButton
{
	background-color: #ffcd00;
	color: black;

	text-align: center;
	font-family: "Roboto";
}

.containerBox
{
	background-color: #ffcd00;
}


/*survey page specific below*/
.surveyButton
{
	background-color: white;
	color: black;

	text-align: center;
	line-height: 36vh;
	font-size: 8vh; 
	font-family: "Roboto";

	height: 36vh;
	margin: 2vh;
	border-radius: 2vh

}

#questionBox
{
	background-color: #ffcd00;
	color: black;

	text-align: center;
	line-height: 10vh;
	font-size: 5vh; 
	font-family: "Roboto";

	height: 10vh;
	margin: 2.5vh;
	border-radius: 25px;
}

#answerContainer
{
	background-color: #ffcd00;
	margin:2.5vh;
	border-radius: 2.5vh;
	height: 80vh;
	width: 95vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
}
table#t01 tr:nth-child(even) {
    background-color: lightgray
}
table#t01 tr:nth-child(odd) {
    background-color: white
}

/* CSS for the Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #808080;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #808080;
  color: white;
}