<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="background-color: #8c8c8c">
<div align = "center">
 <h1 style="font-size: 40px; font-family: 'Roboto', sans-serif;">
    Whoops, you must've got lost out here!
 </h1>
 <h2 style="font-size: 20px; font-family: 'Roboto', sans-serif;">{{ error }}</h2>
 <h4>
     <a href='{{ url_for('menu') }}' style="font-size: 15px; font-family: 'Roboto', sans-serif;">
         Quick! <br> Let's head back to safety!
     </a>
 </h4>
</div>
</body>
</html>