{%- extends 'base.html' %}
{% from "macros.html" import render_modal %}

{% block title %}Menu - Ask{% endblock %}

{% block content %}

{{ render_modal(
    "Menu Page",
    "This is the page that is the menu for the website. It contains 2 buttons to go the the regular survey or to go to the admin interface."
 ) }}

<div align="center">
    <div style="width: fit-content">
        <a href="{{url_for('surveyLandingPage')}}" target='_parent'>
            <div class="rectangle" style="float:left;">
                <h1>Take Survey</h1>
                <img src="{{url_for('static', filename='assets/images/220px-Pictogram_voting_question.svg.png')}}" class="squareImage">
            </div>
        </a>
        <a href='{{ url_for('surveyLandingPage') }}' target="_parent">
            <div class="rectangle" style = "float:right;">
                <h1>Admin Console</h1>
                <img src="{{url_for('static', filename='assets/images/images.png')}}" class="squareImage">
            </div>
        </a>
    </div>
</div>

{% endblock %}
