<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='assets/javascript/main.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Question Options');
      data.addColumn('number', 'Number of Votes');

      /*
      row1 = [document.getElementById("option1").innerText, Number(document.getElementById("result1").innerText)];
        row2 = [document.getElementById("option2").innerText, Number(document.getElementById("result2").innerText)];
        row3 = [document.getElementById("option3").innerText, Number(document.getElementById("result3").innerText)];
        row4 = [document.getElementById("option4").innerText, Number(document.getElementById("result4").innerText)];
        data.addRows([
            row1,
            row2,
            row3,
            row4
        ]);*/

      data.addRows([
        ['Option 1',145],
        ['Option 2',53],
        ['Option 3',260],
        ['Option 4',25]
      ]);

      var options = {
        title: 'Voting Results',
        hAxis: {
          title: 'Questions'
        },
        vAxis: {
          title: 'Number of Votes'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    </script >
</head>
<body>

<!-- Trigger/Open The Modal -->
<img src="../static/assets/images/Icon-round-Question_mark.svg.png" id="myBtn" class="questionIcon" onclick="notify()">

<div align = "center">
   <div id="chart_div" style="width: 65%; height: 28vw; border: 20px solid #ffffff; border-radius: 25px;"></div>

    <p id="questionList" >
        This is where the questions would go. These items are in here as a place holder.


    <!--
        <h2 id="QuestionText" >${question}</h2>
                <ol style="float: left; font-size: 32px;">
                    <li id="option1" >${option1}</li>
                    <li id="option2" >${option2}</li>
                    <li id="option3" >${option3}</li>
                    <li id="option4" >${option4}</li>
                </ol>
        -->

        <br>
        <a href="/" target="_parent">Question 1</a>
        <br>
        <a href="/" target="_parent">Question 2</a>
        <br>
        <a href="/" target="_parent">Question 3</a>
        <br>
        <a href="/" target="_parent">Question 4</a>
        <br>
        <br>
        <a href="/" target="_parent">Question 1</a>
        <br>
        <a href="/" target="_parent">Question 2</a>
        <br>
        <a href="/" target="_parent">Question 3</a>
        <br>
        <a href="/" target="_parent">Question 4</a>
        <br>
        <br>
        <a href="/" target="_parent">Question 1</a>
        <br>
        <a href="/" target="_parent">Question 2</a>
        <br>
        <a href="/" target="_parent">Question 3</a>
        <br>
        <a href="/" target="_parent">Question 4</a>
        <br>
    </p>

    <a href='{{ url_for('menu') }}' target="_parent">
        <button class="button" type="button" >Back to Home</button>
    </a>

    <button class="button" type="button">Export Results</button>
</div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
          <p>Some text in the Modal Body</p>
          <p>Some other text...</p>
        </div>
        <div class="modal-footer">
          <h3>Modal Footer</h3>
        </div>
      </div>

    </div>
</body>
</html>