<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Survey Landing Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="background-color: #8c8c8c">
<div align = "center">
 <h1 style="font-size: 80px; font-family: 'Roboto', sans-serif;">
    Welcome!
 </h1>
 <img src="../static/assets/images/Question-mark-blackandwhite.png" style="width: 30%; height: 20vw;">
 <h1 style="font-size: 80px; font-family: 'Roboto', sans-serif;">
    Tap to Begin
 </h1>
</div>
</body>
</html>