<!DOCTYPE HTML>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body>
	<div id="questionBox" style="">
		Which is the best project?
	</div>
	<div id="answerContainer" style="">
		<div class="surveyButton" style=" width: 43.5vw; float:left">
			CoCo Temp
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:right">
			R&D
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:left">
			Voting
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:right">
			Scheduling
		</div>
	</div>
</body>
