<!DOCTYPE HTML>
<head>
	<link rel="stylesheet" type="text/css" href="surveyQuestion.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<div id="questionBox" style="height: 100px">
		Which is the best project?
	</div>
	<div id="answerContainer" style="height: 400px">
		<div class="button" style="height: 40%; width: 42%; float:left">
			CoCo Temp
		</div>
		<div class="button" style="height: 40%; width: 42%; float:right">
			R&D
		</div>
		<div class="button" style="height: 40%; width: 42%; float:left">
			Voting
		</div>
		<div class="button" style="height: 40%; width: 42%; float:right">
			Scheduling
		</div>
	</div>
</body>
