<!DOCTYPE HTML>
<head>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<div id="questionBox" style="">
		Which is the best project?
	</div>
	<div id="answerContainer" style="">
		<div class="surveyButton" style=" width: 43.5vw; float:left">
			CoCo Temp
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:right">
			R&D
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:left">
			Voting
		</div>
		<div class="surveyButton" style=" width: 43.5vw; float:right">
			Scheduling
		</div>
	</div>
</body>
