<!DOCTYPE html>
<html>

{% load static %}
    <link href= "{% static 'admin_back/basecss.css'%}" rel="stylesheet">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <head>
        <title>Voting Booth</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top justify-content-between" style="background-color: black; padding: 5px">
             <a class="top-banner" style="text-decoration: none;" href="/">
                <div class="top-banner">
                    <img class ="logo" href="/" src ="{% static 'admin_back/assets/HuskyIcon_OneColor_Gold.png'%}">
                </div>
                <div class="top-banner" style="padding-bottom: 7px">
                    Voting Booth
                </div>
            </a>
                <div class="top-banner">
                    <a class="top-banner" style="font-size: 20px; text-decoration: none" href="/admin/dashboard">
                        DASHBOARD
                    </a>
                    <a class ="top-banner" style="font-size: 20px;text-decoration: none ; white-space: nowrap">Hello, {{ request.user }}</a>
                    <a class="top-banner" style="font-size: 20px; text-decoration: none; white-space: nowrap" href="{% url 'logout' %}">
                        SIGN OUT
                    </a>
                </div>
        </nav>

    {% block content %}
    {% endblock content %}
    </body>
</html>