<!DOCTYPE html>
<html>

{% load static %}
    <link href= "{% static 'admin_back/basecss.css'%}" rel="stylesheet">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <head>
        <title>Voting Booth</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="top-banner">
                {% load static %}
                    <img class ="logo" src ="{% static 'admin_back/assets/HuskyIcon_OneColor_Gold.png'%}">
            </div>
            <div class="top-banner" style="padding-bottom: 7px">
                Voting Booth
            </div>
        </div>
    {% block content %}
    {% endblock content %}
    </body>
</html>