<!DOCTYPE html>
<html>
<title>Voting Booth</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b>Create Question</b></h1>
        <p>Survey: <span class="w3-tag">{{ survey_id }}</span></p>
    </header>

    <!-- Grid -->
    <div class="w3-row">
        <div class="w3-col">
            <div class="w3-card-4 w3-margin w3-white">
                <div id="divchoice" class="w3-container">
                    <form class="w3-container" method="post" action="">
                        {% csrf_token %}
                        <h3><input class="w3-input" type="text" name="questiontext"
                                   placeholder="Write the question here"></h3>
                        <input class="w3-input" type="text" name="choice1text" placeholder="Choice 1">
                        <input class="w3-input" type="text" name="choice2text" placeholder="Choice 2">

                        <div class="w3-row w3-padding-large">
                            <button id="AddChoice" onclick="AddChoiceField()" class="w3-button w3-margin"><span
                                    class="glyphicon glyphicon-plus-sign"></span> Add Choices
                            </button>
                            <br>
                            <b2>Answer Type:</b2>
                            <input class="w3-radio" type="radio" name="answertype" value="radio" checked>
                            <label>Radio</label>
                            <input class="w3-radio" type="radio" name="answertype" value="checkbox">
                            <label>Checkbox</label>
                        </div>
                        <input class="w3-button w3-padding-large w3-white w3-border" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <br>
</div>

</body>
</html>
