
{% extends 'admin_back/base.html' %}

{% block content %}
{% load static %}
    <link href= "{% static 'admin_back/basecss.css'%}" rel="stylesheet">
<style>
    input::placeholder {
    text-align: center;
    }
</style>
<div style="text-align: center">
{#    removing as this is provided by base now#}
{#    <div class="wrapper">#}
{#        <div class="top-banner">#}
{#            <img class ="logo" src = "HuskyIcon_OneColor_Gold.png">#}
{#        </div>#}
{#        <div class="top-banner" style="padding-bottom: 7px">#}
{#            Voting Booth Admin Page#}
{#        </div>#}
{#    </div>#}
    <div class="welcome" style="margin-top: 20px">
        Welcome!
    </div>
    <div class="text" style="margin-bottom: 25px; margin-top: 25px">
        Sign in using your Michigan Tech email
    </div>

    <form method="POST" action="">
        {% csrf_token %}
    <div class="login" style="padding: 5px">
     <input type="text" name="username" placeholder="username" class="form-row" style="margin: auto; " tabindex=1>
    </div>
    <div style="padding: 5px">
     <input type="password" placeholder="Password" name="password" class="form-row" style="margin: auto;" tabindex=2>
    </div>
    <div>
     <button class="button" style="margin-top: 20px;" tabindex=3>
        Login
     </button>
        {% for message in messages %}
           <p>{{ message }}</p>
        {% endfor %}
    </div>

    <div>
        <a href="http://127.0.0.1:8000/admin/forgot_password/" style="margin-left: 140px">Forgot Password?</a>
    </div>

    <!-- <p> -- OR -- </p>
    <a href="{% url 'social:begin' 'google-oauth2'%}">
        <button type="button" name="button" class="button" style="font-size:20px; margin-top: 20px;" tabindex=4>Google Login</button>
    </a>
    -->
    </form>

</div>

{% endblock %}