{% extends 'admin_back/base.html' %}


{% block content %}
    <a style="text-align: center;"><H1>Manage Surveys</H1></a>

<div class="container" align="center">
    <div class="row justify-content-center">
        <div class="col-sm-auto" style="width: 60px">
            <h5>Active</h5>
        </div>
        <div class="col-sm-auto" style="width: 205px">
            <h5>Survey Name</h5>
        </div>
        <div class="col-sm-auto">
            <h5>Edit Survey</h5>
        </div>
        <div class="col-sm-auto">
            <h5>Delete Survey</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-auto" style="margin-left: -15px">
            <input type="radio" value="active" id="active1" name="active">
        </div>
        <div class="col-sm-auto">
            <input type="text" value="Survey 1" />
        </div>
        <div class="col-sm-auto" >
            <button style="width:125px;" onclick="window.location.href = 'http://127.0.0.1:8000/admin/manage_question/1/'">Edit</button>
        </div>
        <div class="col-sm-auto">
            <input type="button" value="Delete" onclick=""/><br/>
        </div>
    </div>

    <br>
    <br/>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/admin/create_survey/'">Create New Survey</button>
</div>




{% endblock %}