{% extends 'admin_back/base.html' %}

{% block content %}
<div id="highlighted" class="hl-basic hidden-xs">
  <div class="container-fluid" style="width: 600px">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
        <h1>Forgot Password</h1>
      </div>
    </div>
  </div>
</div>
<div id="content" class="interior-page">
  <div class="container-fluid">
    <div class="row">
      <!--Sidebar-->
      <div class="col-sm-3 col-md-3 col-lg-2 sidebar equal-height interior-page-nav hidden-xs">
        <div class="dynamicDiv panel-group" id="dd.0.1.0">
          <div id="subMenu" class="panel panel-default">
            <ul class="subMenuHighlight panel-heading">
              <li class="subMenuHighlight panel-title" id="subMenuHighlight">
                <a id="123" class="subMenuHighlight" href="http://127.0.0.1:8000/admin/registration/"><span>Register</span></a>
              </li>
            </ul>
            
            <ul class="panel-heading">
              <li class="panel-title">
                <a class="subMenu1" href="http://127.0.0.1:8000/admin/"><span>Login</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Content-->
      <div class="col-sm-9 col-md-9 col-lg-10 content equal-height">
        <div class="content-area-right">

          <div class="row">
            <div class="col-md-5 forgot-form">
              <p>Please enter your email address below and we will send you information to change your password.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                    <div class="g-recaptcha" style="display: inline-block; padding-top: 10px" data-sitekey="6LdlyvIZAAAAAIKi5VQNWD53kskKuzUW5dB9Vfwj" tabindex=3></div>

                    </form>
                    <input type="submit" class="btn btn-primary" value="Reset">

      </div>
    </div>
  </div>
</div>

{% endblock %}