{% extends 'admin_back/base.html' %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Password reset send</h4>
        <p>We have emailed you instruction for setting your password, if this account exist or email Id you entered is valid you should receive reset password link shortly.</p>
    <hr>
        <p class="mb-0">If you do not receive an email, make sure you have entered the registered email address and check your spam folder.</p>
    </div>
    </hr>
{% endblock %}