.wrapper{
    background-color: black;
    display: flex;
}
.top-banner{
    display: table-cell;
    padding: 5px;
    color: rgb(252,206,1);
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    overflow: auto;

}

.logo{
    width: 60px;
}
input{
    font-size: 20px;
}
button{
    font-size: 20px;
    color: black;
    background-color: rgb(252,206,1);
    border: solid black 2px;
    transition: 0.3s;
    width: 245px;
    }
.button:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
}
input{
    border: solid black 2px;
}
.welcome{
    margin-top: 20px;
    font-size: 40px;
}
.text{
    margin-top: 10px;
    font-size: 20px;
}
.login{
    margin-top: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}